# System
.DS_Store

# Tools
.tox
wandb

# Data
*.pkl
*.pt
temp_data

# Build
*.egg*
__pycache__
build/
*.log

#ignore example result
examples/**/*.h5ad
examples/tuning/**/*.yaml
examples/tuning/**/*.csv
examples/tuning/**/*.sh
examples/tuning/**/*.h5
examples/tuning/**/*.tar.gz
examples/tuning/**/*.tif
examples/tuning/**/*.txt
examples/atlas/config/run_config.csv
trash
*.zip
*.h5
*.h5ad
*.gz
*.tif
.vscode
examples/atlas/demos/atlas_csvs
examples/atlas/demos/atlas_patterns
examples/atlas/metadatas
examples/spatial/spatial_domain/data/spatial
examples/spatial/cell_type_deconvo/data/spatial
examples/atlas/sc_similarity_examples/temp
examples/atlas/sc_similarity_examples/visualization/*
!examples/atlas/sc_similarity_examples/visualization/vis_sim_v2_vis.py
!examples/atlas/sc_similarity_examples/visualization/vis_sim_v2_data.py
!examples/atlas/sc_similarity_examples/visualization/visualize_atlas_performance_v2.py
examples/atlas/sc_similarity_examples/data
examples/atlas/sc_similarity_examples/temp
examples/atlas/sc_similarity_examples/similarity/temp.ipynb
examples/atlas/dropbox_token.txt
examples/tuning/check_sweep.py
readme.txt
examples/computer_resources
examples/multi_modality/joint_embedding/models/*.pth
examples/tuning/result.md
examples/result_analysis/*
!examples/result_analysis/get_important_pattern_sweep.py
!examples/result_analysis/get_important_pattern.py
!examples/result_analysis/get_num.py
examples/single_modality/cell_type_annotation/**/*.xlsx
examples/single_modality/cell_type_annotation/**/*.csv
examples/atlas/generate_method.ipynb
examples/single_modality/imputation/data
examples/tuning/figures
temp_ans.csv
temp_ans.json
check_time.py
results - cell type deconvolution.csv
results - spatial domain.csv
t.py
examples/tuning/imputation_magic/data
examples/tuning/joint_embedding_scmogcn/models/model_joint_embedding_1.pth
models/model_joint_embedding_1.pth
examples/tuning/domain_EfNST/Image_crop
examples/tuning/cta_scdeepsort/f7c1c579-2dc0-47e2-ba19-8165c5a0e353(Pancreas)
examples/tuning/cta_scdeepsort/old/f7c1c579-2dc0-47e2-ba19-8165c5a0e353(Pancreas)
t.ipynb
del.sh
data.yaml
examples/tuning/joint_embedding_scmvae/get_run_kwargs.py
examples/tuning/joint_embedding_scmvae/openproblems_2022_multi_atac2gex/config.png
examples/tuning/imputation_graphsci/tsne_visualization.png
examples/tuning/imputation_deepimpute/*.png
examples/temp_hpancreas
