h5py==3.7.0
leidenalg==0.8.10
networkx==2.8.6
numba==0.56.2
numpy==1.22.4
opencv-python==4.6.0.66
openpyxl==3.0.10
pandas==1.4.3
psutil==5.9.1
pyro-ppl==1.8.1
python-igraph==0.9.11
rdata==0.8
requests==2.28.1
scanpy==1.9.1
scanpy==1.9.1
scikit-learn==1.1.2
scikit-misc==0.1.4
scipy==1.9.1
seaborn==0.11.2
skorch==0.11.0
statsmodels==0.13.2
tables==3.7.0
torch==1.12.1
torchnmf==0.3.4
torchvision==0.13.1
tqdm==4.64.0
