h5py==3.8.0
leidenalg==0.9.1
mudata==0.2.2
networkx==3.1
numba==0.56.2
numpy==1.22.4
opencv-python==4.7.0.72
openpyxl==3.1.2
pandas==2.0.0
pyro-ppl==1.8.4
python-igraph==0.10.1
requests==2.28.2
scanpy==1.9.3
scikit-learn==1.2.2
scikit-misc==0.2.0
scipy==1.10.1
statsmodels==0.13.5
tables==3.8.0
torchnmf==0.3.4
tqdm==4.65.0
