name: Lint

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  run_lint_and_install_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install tox tox-gh-actions -U

      - name: Lint and test installation with tox
        # run: tox -e python${{ matrix.python-version }}-cpu-notest
        run: tox
        env:
          RUN_SETTINGS: cpu-notest
