---
name: Test Benchmark Examples
on:
  workflow_dispatch:
  schedule:
    - cron: 59 23 * * 0,2,4
env:
  ### CUDA paths for MSU ICER HPC with "module load CUDA/11.8"
  CUDA_PATH: /opt/software/CUDA/11.8.0
  LD_LIBRARY_PATH: /opt/software/CUDA/11.8.0/lib64
  ### CUDA paths for MSU ICER HPC with "module load GCC/8.3.0 CUDA/10.2.89"
  # CUDA_PATH: '/opt/software/CUDA/10.2.89-GCC-8.3.0'
  # LD_LIBRARY_PATH: '/opt/software/CUDA/10.2.89-GCC-8.3.0/lib64'
jobs:
  run_examples:
    runs-on: self-hosted
    strategy:
      fail-fast: false
    steps:
      # XXX: [2024-02-05] MSU ICER HPCC GLIBC 2.27 not setup correctly to be
      # compatible with higher version GCCcore (11.x). Need to use v3 to
      # bypass the GLIBC 2.27 error due to node20 for now.
      - uses: actions/checkout@v3
      - name: Check CUDA
        run: nvcc -V
      - name: Install dependencies
        run: python -m pip install -U pip
             pip install tox -U
      - name: Test with tox
        run: tox -e py39-gpu-lightbenchtest
