---
name: Lint and test
on:
  push:
  pull_request:
    branches: [main]
jobs:
  run_lint_and_install_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]
        python-version: ['3.9', '3.10', '3.11']  # PyTorch does not support '3.12' yet [2024-02-05]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install tox tox-gh-actions -U
      - name: Lint and test installation with tox
        run: tox
        env:
          RUN_SETTINGS: cpu-test
